// TODO: look into merging the Bootstrap _breadcrumb into this file
//       and commenting out @import "../bootstrap/scss/breadcrumb";
//       in todc_bootstrap.scss. This will eliminate ome duplication
//       in the generated css.
.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item::before {
    position: relative;
    top: 6px;
    margin-top: -9px;
    vertical-align: top;
    content: $breadcrumb-divider;
  }

  > a {
    color: $breadcrumb-divider-color;
  }

  &.active {
    font-weight: $breadcrumb-active-font-weight;
  }
}
