.breadcrumb-item {

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {

    &::before {
      position: relative;
      top: -.225rem;
      padding-left: ($breadcrumb-item-padding / 2);
      vertical-align: top;
    }
  }

  > a {
    padding: .0625rem .375rem;
    margin-left: -.375rem;
    color: $breadcrumb-divider-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: $gray-200;
    }
  }

  &.active {
    font-weight: $breadcrumb-active-font-weight;
  }
}
