// stylelint-disable selector-no-qualifying-type

// Textual form controls
//

.form-control {
  height: $input-height;

  &:hover {
    border-color: $input-hover-border-color;
    @include box-shadow($input-hover-box-shadow);
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    border-color: $input-disabled-border-color;
    @include box-shadow($input-disabled-box-shadow);
  }
}

select.form-control {
  &:not([size]):not([multiple]) {
    padding-right: $select-padding-right;
    cursor: pointer;
    @include select-indicator;
  }

  appearance: none;
}


// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

.form-control-sm {
  height: $input-height-sm;
}

.form-control-lg {
  height: $input-height-lg;
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

input[type="checkbox"].form-check-input,
input[type="radio"].form-check-input {
  width: 13px;
  height: 13px;
  vertical-align: text-bottom;
  border: $input-btn-border-width solid $input-border-color;
  @include border-radius(0);
  appearance: none;

  &:hover {
    border-color: $input-hover-border-color;
    @include box-shadow($input-hover-box-shadow);
  }

  &:focus {
    border-color: theme-color("primary");
    outline: 0;
  }

  &[disabled],
  &[readonly] {
    border-color: $input-disabled-border-color;
    @include box-shadow($input-disabled-box-shadow);
  }
}

input[type="checkbox"].form-check-input {
  &:checked::after {
    position: absolute;
    top: -.3125rem;
    left: -.34375rem;
    display: block;
    width: 15px;
    height: 15px;
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAtklEQVQ4y2P4//8/A7Ux1Q0cxoaCADIbCUgCMTvVXAoE5kA8CYidyXYpGrAH4iVAHIXiCwoMDQTimUBcBsRMlBrKCsTpUANzkC0j11BuIK6EGlgKsoAkQ4FgChD7AzELVI8YEDdDDawDYk6YQaQY6gg1oAqILYC4D8oHGcyLbBAphoJAKtQgGO4EYiHk2CLHUJAXm6AG9gCxNHoSIMdQEJCFGqiALaGSayjMxQwUGzq0S6nhZygA2ojsbh6J67kAAAAASUVORK5CYII=");
  }

  &:indeterminate {
    background-color: $gray-500;
    background-image: $custom-checkbox-indicator-icon-indeterminate;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 17px;
  }

  &.position-static {
    &:checked::after {
      top: 4px;
      left: -4px;
    }
  }
}

input[type="radio"].form-check-input {
  width: 15px;
  height: 15px;
  @include border-radius(50%);

  &:checked::after {
    position: relative;
    top: 3px;
    left: 3px;
    display: block;
    width: 7px;
    height: 7px;
    content: "";
    background: #666;
    @include border-radius(1em);
  }

  &[disabled],
  &[readonly] {
    &:checked::after {
      background-color: $input-disabled-border-color;
    }
  }

  &.position-static {
    &:checked::after {
      top: 3px;
      left: 3px;
    }
  }
}

.form-check-label {
  line-height: 1.5rem;
}
