//
// Labels and badges
// --------------------------------------------------


// Base classes

// Set unique padding and border-radii
.label {
  @include border-radius(0);
}

// Colors
// Only give background-color difference to links (and to simplify, we don't qualify with `a` but [href] attribute)
@each $item in label, badge {
  // Important (red)
  .#{$item}-important         { background-color: $errorText; }
  .#{$item}-important[href]   { background-color: darken($errorText, 10%); }
  // Warnings (orange)
  .#{$item}-warning           { background-color: $orange; }
  .#{$item}-warning[href]     { background-color: darken($orange, 10%); }
  // Success (green)
  .#{$item}-success           { background-color: $successText; }
  .#{$item}-success[href]     { background-color: darken($successText, 10%); }
  // Info (turquoise)
  .#{$item}-info              { background-color: $infoText; }
  .#{$item}-info[href]        { background-color: darken($infoText, 10%); }
  // Inverse (black)
  .#{$item}-inverse           { background-color: $grayDark; }
  .#{$item}-inverse[href]     { background-color: darken($grayDark, 10%); }
}
