//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  @include border-radius(4px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 0;
  background-color: #fff;
  border: 3px solid #FFFFFF;
  @include box-shadow(0 0 0 1px #AAAAAA);
}
