h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
