///
// Alerts
// --------------------------------------------------

.alert {
  padding: 8px 35px 8px 10px;
  text-shadow: none;
  .box-shadow(0 2px 4px rgba(0,0,0,0.2));
  background-color: @state-warning-background;
  border: 1px solid @state-warning-border;
  border-radius: @border-radius-base;
  color: @grayDark;
}

// Alternate styles
// -------------------------

.alert-success {
  background-color: @state-success-background;
  border-color: @state-success-border;
  color: @state-success-text;
}
.alert-danger,
.alert-error {
  background-color: @state-error-background;
  border-color: @state-error-border;
  color: @state-error-text;
}
.alert-info {
  background-color: @state-success-background;
  border-color: @state-info-border;
  color: @state-info-text;
}

.alert-success,
.alert-danger,
.alert-error,
.alert-info {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-danger,
.alert-error {
  border-color: darken(@state-error-background, 20%);
  color: #b94a48;
}
