//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core styles
.btn {
  padding: 4px 12px;
  margin: 0;
  color: @btn-color;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: bold;
  line-height: @line-height-base;
  cursor: default;
  border: 1px solid @btn-border;
  border-radius: @border-radius-base;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  .background-clip(padding);
  #gradient > .vertical(#f5f5f5, #f1f1f1);
  background-color: @btn-bg;
  .box-shadow(none);

  &:hover {
    text-shadow: none;
    border-color: #c6c6c6;
    .box-shadow(0 1px 1px rgba(0,0,0,0.1));
    #gradient > .vertical(#f8f8f8, #f1f1f1);
    background-position: 0 0;
    .transition(none);
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @btn-color;
  }

  &:active,
  &.active {
    border: 1px solid @btn-border;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
    #gradient > .vertical(#f6f6f6, #f1f1f1);
    background-color: #e8e8e8;
  }

  &:focus {
    /* Blue border on button focus. */
    border-color: @brand-primary;
    outline-style: none;
    background-color: @btn-bg;
  }

  // Disabled state
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &:active {
      border: 1px solid @btn-border;
      background-color: @btn-bg;
      #gradient > .vertical(#f5f5f5, #f1f1f1);
      .box-shadow(none);
      text-shadow: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: @padding-large;
  font-size: @font-size-large;
  border-radius: @border-radius-base;
}

// Small
.btn-small {
  padding: @padding-small;
  font-size: @font-size-small;
  border-radius: @border-radius-base;
}

// Mini
.btn-mini {
  padding: @padding-mini;
  font-size: @font-size-mini;
  border-radius: @border-radius-base;
}


// Icons in buttons
// -------------------------

.btn .glyphicon {
  font-weight: normal;
}
.btn-large .glyphicon {
  margin-top: 1px;
}
.btn-mini .glyphicon {
  margin-top: -1px;
}

// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
// Provide *some* extra contrast for those who can get it
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover {
  .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}
.btn-primary:active,
.btn-primary.active,
.btn-warning:active,
.btn-warning.active,
.btn-danger:active,
.btn-danger.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active {
  .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.btn-warning.active,
.btn-warning:active,
.btn-warning:hover,
.btn-danger.active,
.btn-danger:active,
.btn-danger:hover,
.btn-success.active,
.btn-success:active,
.btn-success:hover,
.btn-info.active,
.btn-info:active,
.btn-info:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}


// Alternate buttons
// --------------------------------------------------

// Primary Button
// -------------------------
.btn-primary {
  .btn-states(@brand-primary, #4787ed, #fff, @btn-primary-border);
}

// Danger Button
// -------------------------
.btn-danger {
  .btn-states(#dd4b39, #d14836, #fff, #c6322a);
}

// Warning Button
// -------------------------
.btn-warning {
  .btn-states(lighten(@brand-warning, 5%), @brand-warning, #fff, @btn-warning-border);
}

// Success Button
// -------------------------
.btn-success {
  .btn-states(@brand-success, @brand-success, #fff, @btn-success-border);
}

// Info Button
// -------------------------
.btn-info {
  .btn-states(@btn-bg-info, @btn-bg-info, #fff, @btn-info-border);
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  background-image: none;
  .box-shadow(none);
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link {
  color: @link-color;
}
.btn-link:hover,
.btn-link:focus {
  color: @link-hover-color;
  background-color: transparent;
  background-image: none;
  .box-shadow(none);
}
.btn-link {
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @grayDark;
    }
  }
}
