//
// Button groups
// --------------------------------------------------

// Button carets
.btn .caret {
  border-top-color: @btn-color;
}
.dropup .btn .caret {
  border-bottom-color: @btn-color;
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  // Space out series of button groups
  > .btn + .btn,
  > .btn-group + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn-group {
    margin-left: 16px;
  }
}

// Float them, remove border radius, then re-add to first and last elements
.btn-group > .btn + .btn {
  margin-left: -1px;
}

// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group > .btn:first-child {
  border-top-left-radius: @border-radius-base;
  border-bottom-left-radius: @border-radius-base;
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
}
// Reset corners for large buttons
.btn-group > .btn.large:first-child {
  margin-left: 0;
  border-top-left-radius: @border-radius-large;
  border-bottom-left-radius: @border-radius-large;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  border-top-right-radius: @border-radius-large;
  border-bottom-right-radius: @border-radius-large;
}



// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group > .btn + .dropdown-toggle {
  .box-shadow(none);
}
.btn-group > .dropdown-toggle:hover {
  .box-shadow(0 1px 1px rgba(0,0,0,0.1));
}
.btn-group > .btn-primary.dropdown-toggle:hover,
.btn-group > .btn-info.dropdown-toggle:hover,
.btn-group > .btn-warning.dropdown-toggle:hover,
.btn-group > .btn-danger.dropdown-toggle:hover,
.btn-group > .btn-success.dropdown-toggle:hover {
  .box-shadow(0 1px 1px rgba(0,0,0,0.2));
}
.btn-group > .btn.dropdown-toggle:active,
.btn-group > .btn.dropdown-toggle.active {
  .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
}
.btn-group > .btn-primary.dropdown-toggle:active,
.btn-group > .btn-primary.dropdown-toggle.active,
.btn-group > .btn-warning.dropdown-toggle:active,
.btn-group > .btn-warning.dropdown-toggle.active,
.btn-group > .btn-danger.dropdown-toggle:active,
.btn-group > .btn-danger.dropdown-toggle.active,
.btn-group > .btn-success.dropdown-toggle:active,
.btn-group > .btn-success.dropdown-toggle.active,
.btn-group > .btn-info.dropdown-toggle:active,
.btn-group > .btn-info.dropdown-toggle.active {
  .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
}
.btn-group > .btn-mini.dropdown-toggle {
  padding: 2px 4px;
}
.btn-group > .btn-small.dropdown-toggle {
  padding: 5px 7px;
}
.btn-group > .btn-large.dropdown-toggle {
  padding: 9px 9px;
}

.btn-group.open {

  // The clickable button for toggling the menu
  // Remove the gradient and set the same inset shadow as the :active state
  .dropdown-toggle {
    .box-shadow(inset 0 1px 6px rgba(0, 0, 0, 0.15));
  }

  // Keep the hover's background when dropdown is open
  .btn.dropdown-toggle {
    background-color: @btn-background;
    background-image: none;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
  }
  .btn-primary.dropdown-toggle {
    background-color: @btn-background-primary;
    background-image: none;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
  }
  .btn-warning.dropdown-toggle {
    background-color: @btn-background-warning;
    background-image: none;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
  }
  .btn-danger.dropdown-toggle {
    background-color: @btn-background-danger;
    background-image: none;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
  }
  .btn-success.dropdown-toggle {
    background-color: @btn-background-success;
    background-image: none;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
  }
  .btn-info.dropdown-toggle {
    background-color: @btn-background-info;
    background-image: none;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
  }
}


// Reposition the caret
.btn .caret {
  margin-top: 8px;
}
// Carets in other button sizes
.btn-mini .caret {
  margin-top: 5px;
}
.btn-small .caret {
  margin-top: 6px;
}
.btn-large .caret {
  margin-top: 6px;
}

// Account for other colors
.btn-primary,
.btn-warning,
.btn-danger,
.btn-info,
.btn-success {
  .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
}


// Vertical button groups
// ----------------------

.btn-group-vertical > .btn + .btn {
  margin-left: 0;
  margin-top: -1px;
}
.btn-group-vertical .btn:first-child {
  border-radius: @border-radius-base @border-radius-base 0 0;
}
.btn-group-vertical .btn:last-child {
  border-radius: 0 0 @border-radius-base @border-radius-base;
}
.btn-group-vertical .btn-large:first-child {
  border-radius: @border-radius-large @border-radius-large 0 0;
}
.btn-group-vertical .btn-large:last-child {
  border-radius: 0 0 @border-radius-large @border-radius-large;
}





// TODO: [todc-bootstrap] Are these needed
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: @font-size-base; // redeclare as part 2 of font-size inline-block hack
}

// Reset fonts for other sizes
.btn-group > .btn-mini {
  font-size: @font-size-mini;
}
.btn-group > .btn-small {
  font-size: @font-size-small;
}
.btn-group > .btn-large {
  font-size: @font-size-large;
}
