// DROPDOWN MENUS
// --------------

// The dropdown menu (ul)
// ----------------------
.g-select-dropdown,
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 0 0 6px 0;
  margin: 1px 0 0; // override default ul
  list-style: none;
  background-color: @dropdownBackground;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  .border-radius(0);
  .box-shadow(0 2px 4px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    .nav-divider(@dropdownDividerTop, @dropdownDividerBottom);
  }

  // Links within the dropdown menu
  a {
    display: block;
    padding: 6px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: @dropdownLinkColor;
    white-space: nowrap;
  }
}

.g-select-dropdown li {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: @dropdownLinkColor;
  white-space: nowrap;
}

// Hover state
// -----------
.g-select-dropdown li:hover,
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: @dropdownLinkColorHover;
  text-decoration: none;
  background-color: @dropdownLinkBackgroundHover;
}

.g-select-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: @zindexDropdown;

  & > .g-select-dropdown,
  & > .dropdown-menu {
    display: block;
  }
}

// Typeahead
// ---------
.typeahead {
  .border-radius(0);
}
