//
// Labels
// --------------------------------------------------


// Base classes
.label {
  border-radius: 0;
}

// Colors
// Contextual variations (linked labels get darker on :hover)
.label-danger {
  background-color: @label-danger-bg;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken(@label-danger-bg, 10%);
    }
  }
}

.label-success {
  background-color: @label-success-bg;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken(@label-success-bg, 10%);
    }
  }
}

.label-warning {
  background-color: @label-warning-bg;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken(@label-warning-bg, 10%);
    }
  }
}

.label-info {
  background-color: @label-info-bg;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken(@label-info-bg, 10%);
    }
  }
}
