//
// Navbars
// --------------------------------------------------

// Wrapper and base class
.navbar {
  min-height: @navbar-height;
  background-color: @navbar-bg;
  border: 1px solid @navbar-border;
  border-radius: @border-radius-base;
}

// Navbar nav links
// -------------------------

.navbar {
  // .nav {
  //   margin-top: 15px; // space out from .navbar .brand and .btn-navbar
  // }
  .nav > li > a {
    // Vertically center the text given @navbar-height
    padding: ((@navbar-height - @line-height-base) / 2) 15px ((@navbar-height - @line-height-base) / 2);
    font-weight: bold;
    color: @navbar-link-color;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    color: @navbar-link-color-hover;
    background-color: @navbar-link-bg-hover;
  }
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    color: @navbar-link-color-active;
    background-color: @navbar-link-bg-active;
  }
}



//
// Navbar alignment options
// --------------------------------------------------

// Shared (top/bottom) styles
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}



//
// Navbar optional components
// --------------------------------------------------

// Brand/project name
.navbar .brand {
  // Vertically center the text given @navbar-height
  padding: ((@navbar-height - @line-height-base) / 2) 20px ((@navbar-height - @line-height-base) / 2);
  color: @navbar-brand-color;
  &:hover,
  &:focus {
    color: @navbar-brand-color-hover;
    text-decoration: none;
    background-color: @navbar-brand-bg-hover;
  }
}

// Collapsible navbar toggle
.btn-navbar {
  padding: 8px 10px;
  .navbar-vertical-align(26px); // Vertically center in navbar
  // #gradient > .vertical(#f5f5f5, #f1f1f1);
  background-color: #444;
  background-image: none;
  border: 1px solid #222;
  .box-shadow(none);
}

// Dividers in navbar
.navbar .nav > .divider {
  height: @navbar-height;
  .nav-divider(darken(@navbar-bg, 5%), lighten(@navbar-bg, 5%));
}

// Navbar form
.navbar-form {
  .navbar-vertical-align(26px); // Vertically center in navbar
}

// Dropdown menus

// Dropdown menu items and carets
.navbar .nav {
  // Caret should match text color on hover
  li.dropdown > a:hover .caret,
  li.dropdown > a:focus .caret {
    border-top-color: @navbar-link-color-hover;
    border-bottom-color: @navbar-link-color-hover;
  }

  // Remove background color from open dropdown
  li.dropdown.open > .dropdown-toggle,
  li.dropdown.active > .dropdown-toggle,
  li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbar-link-bg-active;
    color: @navbar-link-color-active;
  }
  li.dropdown > .dropdown-toggle .caret {
    border-top-color: @navbar-link-color;
    border-bottom-color: @navbar-link-color;
  }
  li.dropdown.open > .dropdown-toggle .caret,
  li.dropdown.active > .dropdown-toggle .caret,
  li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: @navbar-link-color-active;
    border-bottom-color: @navbar-link-color-active;
  }
}
// TODO: [todc-bootstrap] Check with navbar-main
// Brand: dropdown menu
.navbar .brand.dropdown-menu {
    display: none;
    padding: 0 0 6px;
    margin-left: -20px;
    font-size: @font-size-base;
}
.open > .brand.dropdown-menu {
    display: block;
}


// Right aligned menus need alt position
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  .dropdown-menu {
    border-radius: 0;
  }
}



// Inverse navbar
// --------------------------------------------------

.navbar-inverse {
  background-color: @navbar-inverse-bg;
  border: 1px solid @navbar-inverse-border;

  .brand {
    color: @navbar-inverse-brand-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-brand-color-hover;
      background-color: @navbar-inverse-brand-bg-hover;
    }
  }

  .navbar-text {
    color: @navbar-inverse-text;
  }

  .nav > li > a {
    color: @navbar-inverse-link-color;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    color: @navbar-inverse-link-color-hover;
    background-color: @navbar-inverse-link-bg-hover;
  }
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    color: @navbar-inverse-link-color-active;
    background-color: @navbar-inverse-link-bg-active;
  }

  // Darken the responsive nav toggle
  // .btn-navbar {
  //   background-color: #444;
  // }

  // Darken dividers
  .nav > .divider {
    background-color: darken(@navbar-inverse-bg, 5%);
    border-bottom-color: lighten(@navbar-inverse-bg, 5%);
  }

  // Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbar-inverse-link-bg-active;
    color: @navbar-inverse-link-color-active;
  }
  .nav li.dropdown > a:hover .caret {
    border-top-color: @navbar-inverse-link-color-hover;
    border-bottom-color: @navbar-inverse-link-color-hover;
  }
  .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: @navbar-inverse-link-color;
    border-bottom-color: @navbar-inverse-link-color;
  }
  .nav li.dropdown.open > .dropdown-toggle .caret,
  .nav li.dropdown.active > .dropdown-toggle .caret,
  .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: @navbar-inverse-link-color-active;
    border-bottom-color: @navbar-inverse-link-color-active;
  }
}



// Buttons in navbar
// -------------------------
// .navbar .btn,
// .navbar .btn-group {
//   .navbar-vertical-align(26px); // Vertically center in navbar
// }
// .navbar .btn {
//   padding: @padding-small; // FIXME: This is probably not necessary for the btn-group;
// }

// // Navbar forms
// // -------------------------
// .navbar-form {
//   input,
//   select,
//   .radio,
//   .checkbox {
//     .navbar-vertical-align(26px); // Vertically center in navbar
//     padding: 2px 14px;
//   }
// }

// Navbar search
// -------------------------
// .navbar-search {
//   .navbar-vertical-align(26px); // Vertically center in navbar
//   .search-query {
//     padding: 2px 14px;
//     line-height: normal;
//   }
// }




// Masthead
// -------------------------

// Wrapper and base class
.navbar-masthead {
  min-height: @navbar-masthead-height;
  margin: 0px;
  border: 1px solid @navbar-masthead-border;
  border-radius: @border-radius-base;
  .box-shadow(none);
  color: @navbar-text;
  #gradient > .vertical(@navbar-masthead-bg, @navbar-masthead-bg);
}

// Masthead nav links
// -------------------------

.navbar-masthead {
  .nav {
    > li > a {
      float: none;
      padding: 8px 15px;
      font-weight: normal;
      color: @navbar-masthead-link-color;
      text-decoration: none;
      text-shadow: 0 1px 0 lighten(@navbar-masthead-bg, 1.5%);
    }

    > li > a:focus,
    > li > a:hover {
      text-decoration: none;
      background-color: @navbar-masthead-link-bg-hover; // "transparent" is default to differentiate :hover from .active
      color: @navbar-masthead-link-color-hover;
    }

    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      .box-shadow(none);
      color: @navbar-masthead-link-color-active;
      text-decoration: none;
      #gradient > .vertical(@navbar-masthead-link-bg-active, @navbar-masthead-link-bg-active);
    }
  }
}



//
// Masthead alignment options
// --------------------------------------------------

.navbar-masthead {
  // Shared (top/bottom) styles
  &.navbar-fixed-top,
  &.navbar-fixed-bottom {
    z-index: @zindex-googlebar-fixed;
  }
}



//
// Masthead optional components
// --------------------------------------------------

.navbar-masthead {

  // Brand: website or project name
  // -------------------------
  .brand {
    &:hover,
    &:focus {
      color: @navbar-masthead-brand-color-hover;
      text-decoration: none;
      background-color: @navbar-masthead-brand-bg-hover;
    }
  }

  // Collapsible navbar toggle
  .btn-navbar {
    padding: 4px 10px 7px;
    .navbar-vertical-align(26px, @navbar-masthead-height); // Vertically center in navbar
    // #gradient > .vertical(lighten(@navbar-masthead-bg, 1.5%), @navbar-masthead-bg);
    #gradient > .vertical(#f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
  }

  // Dividers in navbar
  .nav > .divider {
    // border-right: 1px solid lighten(@navbar-masthead-bg, 1.5%);
    // border-left: 1px solid @navbar-masthead-bg;
    .nav-divider(darken(@navbar-masthead-bg, 5%), lighten(@navbar-masthead-bg, 5%));
  }

  // Navbar form
  .navbar-form {
    .navbar-vertical-align(30px, @navbar-masthead-height); // Vertically center in navbar
  }

  // Dropdown menus

  // Dropdown menu items and carets
  .nav {
    // Caret should match text color on hover
    li.dropdown > a:hover .caret,
    li.dropdown > a:focus .caret {
      border-top-color: @navbar-masthead-link-color-hover;
      border-bottom-color: @navbar-masthead-link-color-hover;
    }

    // Remove background color from open dropdown
    li.dropdown.open > .dropdown-toggle,
    li.dropdown.active > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background-color: darken(@navbar-masthead-bg, 4.7%); // #e5e5e5
      color: @navbar-masthead-link-color-active;
    }
    li.dropdown > .dropdown-toggle .caret {
      border-top-color: @navbar-masthead-link-color;
      border-bottom-color: @navbar-masthead-link-color;
    }
    li.dropdown.open > .dropdown-toggle .caret,
    li.dropdown.active > .dropdown-toggle .caret,
    li.dropdown.open.active > .dropdown-toggle .caret {
      border-top-color: @navbar-masthead-link-color-active;
      border-bottom-color: @navbar-masthead-link-color-active;
    }
  }
}



// Inverse masthead
// --------------------------------------------------

.navbar-masthead {
  &.navbar-inverse {
    #gradient > .vertical(@gray, @navbar-masthead-inverse-bg);
    border-color: @navbar-masthead-inverse-border;
    color: @navbar-masthead-inverse-text;

    .brand {
      color: @navbar-masthead-inverse-link-color;
      &:hover,
      &:focus {
        color: @navbar-masthead-inverse-brand-color-hover;
        background-color: @navbar-masthead-inverse-brand-bg-hover;
      }
    }

    .brand,
    .nav > li > a {
      color: @navbar-masthead-inverse-link-color;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      &:hover {
        color: @navbar-masthead-inverse-link-color-hover;
      }
    }

    .nav {
      > li > a:hover,
      > li > a:focus {
        color: @navbar-masthead-inverse-link-color-hover;
        background-color: @navbar-masthead-inverse-link-bg-hover;
      }

      .active > a,
      .active > a:hover,
      .active > a:focus {
        color: @navbar-masthead-inverse-link-color-active;
        #gradient > .vertical(@navbar-masthead-inverse-link-bg-active, @navbar-masthead-inverse-link-bg-active);
      }

      // Darken dividers
      > .divider {
        background-color: darken(@navbar-masthead-inverse-bg, 5%);
        border-bottom-color: lighten(@navbar-masthead-inverse-bg, 5%);
      }

      // Dropdowns
      li.dropdown.open > .dropdown-toggle,
      li.dropdown.active > .dropdown-toggle,
      li.dropdown.open.active > .dropdown-toggle {
        background-color: @navbar-masthead-inverse-link-bg-active;
        color: @navbar-masthead-inverse-link-color-active;
      }
      li.dropdown > .dropdown-toggle .caret {
        border-top-color: @navbar-masthead-inverse-link-color;
        border-bottom-color: @navbar-masthead-inverse-link-color;
      }
      li.dropdown.open > .dropdown-toggle .caret,
      li.dropdown.active > .dropdown-toggle .caret,
      li.dropdown.open.active > .dropdown-toggle .caret {
        border-top-color: @navbar-masthead-inverse-link-color-active;
        border-bottom-color: @navbar-masthead-inverse-link-color-active;
      }
    }
  }
}

// .navbar-masthead {
//   // Inverted navbar
//   // -------------------------
//   &.navbar-inverse {
//     // Inline text links
//     .navbar-link {
//       color: @navbar-masthead-inverse-link-color;
//       &:hover {
//         color: @navbar-masthead-inverse-link-color-hover;
//       }
//     }
//   }
// }



// Main Navbar
// -------------------------

// Wrapper and base class
.navbar-main {
  border-radius: @border-radius-base;
  .box-shadow(none);
  min-height: @navbar-main-height;
  margin: 0px;
  color: @navbar-text;
  #gradient > .vertical(@navbar-main-bg, @navbar-main-bg);
  border: 1px solid @navbar-main-border;
}

// Main Navbar nav links
// -------------------------

.navbar-main {
  .nav {
    > li {
      position: relative;
    }

    > li > a {
      // padding: 9px 15px 8px;
      padding: (floor((@navbar-main-height - @line-height-base) / 2)) 15px (((@navbar-main-height - @line-height-base) / 2));
      color: @navbar-main-link-color;
      text-shadow: none;
    }
    > li > a.brand {
      color: @navbar-main-brand-color;
    }

    // Active nav items
    > .active > a {
      font-weight: bold;
      &:before {
        position: absolute;
        bottom: -1px;
        left: 50%;
        display: inline-block;
        margin-left: -8px; /* value should match border-width below */
        border-right:  8px solid transparent;
        border-bottom: 8px solid @navbar-main-border;
        border-left:   8px solid transparent;
        content: '';
      }
      &:after {
        position: absolute;
        bottom: -1px;
        left: 50%;
        display: inline-block;
        margin-left: -7px; /* value should match border-width below */
        border-right:  7px solid transparent;
        border-bottom: 7px solid @dropdown-background;
        border-left:   7px solid transparent;
        content: '';
      }
    }

    > li > a:focus,
    > li > a:hover {
      color: @navbar-main-link-color-hover;
      text-decoration: underline;
      background-color: transparent;
    }

    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      .box-shadow(none);
      color: @navbar-main-link-color-active;
      background-color: @navbar-main-link-bg-active;
    }
  }
}



//
// Masthead alignment options
// --------------------------------------------------

.navbar-main {
  // Shared (top/bottom) styles
  &.navbar-fixed-top,
  &.navbar-fixed-bottom {
    z-index: @zindex-googlenav-fixed;
  }
  // &.navbar-fixed-top,
  // &.navbar-fixed-bottom,
  // &.navbar-static-top {
  //   .nav > li > a {
  //     // padding: ((@navbar-main-height - @line-height-base) / 2) 15px (((@navbar-main-height - @line-height-base) / 2) - 1);
  //   }

  //   // Dividers in navbar
  //   // -------------------------
  //   .divider-vertical {
  //     height: @navbar-main-height - 1;
  //   }
  // }
}



//
// Masthead optional components
// --------------------------------------------------

.navbar-main {

  // Brand: website or project name
  // -------------------------
}






.navbar-main {
  // Brand: website or project name
  // -------------------------
  .brand,
  .brand .btn {
    // Vertically center the text given @navbar-height
    font-size: 16px;
    font-weight: bold;
    color: @navbar-main-brand-color;
    text-shadow: none;
    &:hover,
    &:focus {
      color: @navbar-main-brand-color-hover;
      text-decoration: none;
      background-color: @navbar-main-brand-bg-hover;
    }
  }

  // Plain text in topbar
  // -------------------------
  .navbar-text {
    .navbar-vertical-align(@navbar-main-height, @navbar-main-height); // Vertically center in navbar
    line-height: @navbar-main-height;
  }

  // Dividers in navbar
  // -------------------------
  .divider-vertical {
    height: @navbar-main-height - 2;
    margin: 0 9px;
    border-right: 1px solid @navbar-main-bg;
    border-left: 1px solid darken(@navbar-main-bg, 5%);
  }

  // Optional: Group multiple button groups together for a toolbar
  .btn-toolbar {
    margin: 0;
  }

  // Buttons in navbar
  // -------------------------
  .btn,
  .btn-group {
    .navbar-vertical-align(30px, @navbar-main-height); // Vertically center in navbar
  }
  .btn {
    padding: 4px 12px; // FIXME: This is probably not necessary for the btn-group;
  }

  .btn,
  .btn-small,
  .btn-group > .btn,
  .btn-group > .btn-small {
    font-size: @font-size-small;
  }

  // Reset fonts for other sizes
  .btn-mini,
  .btn-group > .btn-mini {
    font-size: @font-size-mini;
  }
  .btn-large,
  .btn-group > .btn-large {
    font-size: @font-size-large;
  }

  // Navbar forms
  // -------------------------
  .navbar-form {
    input,
    select,
    .radio,
    .checkbox {
      .navbar-vertical-align(30px, @navbar-main-height); // Vertically center in navbar
      padding: 4px 8px;
    }
    .btn,
    .btn-group {
      .navbar-vertical-align(30px, @navbar-main-height); // Vertically center in navbar
    }
  }



  // Navbar button for toggling navbar items in responsive layouts
  // These definitions need to come after '.navbar .btn'
  .btn-navbar {
    padding: 4px 10px 7px;
    .navbar-vertical-align(26px, @navbar-main-height); // Vertically center in navbar
    #gradient > .vertical(#f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
  }

  // Dropdown menus
  // --------------

  // Menu position and menu carets
  .nav > li > .dropdown-menu {
    border-top-width: 0;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }


  // Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbar-main-link-bg-active;
  }


  // Brand Dropdowns
  .nav > li > a.brand:focus,
  .nav > li > a.brand:hover {
    color: @navbar-main-brand-color;
    text-decoration: none;
  }

  .nav li.dropdown.open > .brand.dropdown-toggle,
  .nav li.dropdown.active > .brand.dropdown-toggle,
  .nav li.dropdown.open.active > .brand.dropdown-toggle {
    background-color: @navbar-main-link-bg-active;
    color: @navbar-main-brand-color;
    text-decoration: none;
  }

  .nav li.dropdown > .brand.dropdown-toggle .caret {
    border-top-color: @navbar-main-brand-color;
    border-bottom-color: @navbar-main-brand-color;
  }


  // Inverted navbar
  // -------------------------

  &.navbar-inverse {
    color: @navbar-main-inverse-text;

    .navbar-inner {
      border-color: @navbar-main-inverse-border;
      #gradient > .vertical(@gray, @navbar-main-inverse-bg);
      background: @navbar-main-inverse-bg;
    }

    .brand,
    .nav > li > a {
      font-weight: normal;
      color: @navbar-main-inverse-link-color;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      &:hover {
        color: @navbar-main-inverse-link-color-hover;
      }
    }

    .nav > li > a:focus,
    .nav > li > a:hover {
      color: @navbar-main-inverse-link-color-hover;
      background-color: @navbar-main-inverse-link-bg-hover;
    }

    .nav .active > a,
    .nav .active > a:hover,
    .nav .active > a:focus {
      font-weight: bold;
      color: @navbar-main-inverse-link-color-active;
      background-color: @navbar-main-inverse-link-bg-active;
    }
    .nav .active > a:hover {
      text-decoration: underline;
    }

    // Inline text links
    .navbar-link {
      color: @navbar-main-inverse-link-color;
      &:hover {
        color: @navbar-main-inverse-link-color-hover;
      }
    }

    // Dividers in navbar
    .divider-vertical {
      border-right-color: @gray;
      border-left-color: @navbar-main-inverse-bg;
    }

    // Dropdowns
    .nav li.dropdown.open > .dropdown-toggle,
    .nav li.dropdown.active > .dropdown-toggle,
    .nav li.dropdown.open.active > .dropdown-toggle {
      color: @navbar-main-inverse-link-color-active;
      background-color: @navbar-main-inverse-link-bg-active;
    }
    .nav li.dropdown > .dropdown-toggle .caret {
      border-top-color: @navbar-main-inverse-link-color;
      border-bottom-color: @navbar-main-inverse-link-color;
    }
    .nav li.dropdown.open > .dropdown-toggle .caret,
    .nav li.dropdown.active > .dropdown-toggle .caret,
    .nav li.dropdown.open.active > .dropdown-toggle .caret {
      border-top-color: @navbar-main-inverse-link-color-active;
      border-bottom-color: @navbar-main-inverse-link-color-active;
    }

    // Navbar search
    .navbar-search {
      .search-query {
        .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15)");
        .transition(none);
        .placeholder(@navbar-main-inverse-search-placeholder-color);
        color: #fff;
        background-color: @navbar-main-inverse-search-background;
        border-color: @navbar-main-inverse-search-border;

        // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
        &:focus,
        &.focused {
          .box-shadow(0 0 3px rgba(0,0,0,.15));
          padding: 5px 15px;
          color: @grayDark;
          text-shadow: 0 1px 0 #fff;
          background-color: @navbar-main-inverse-search-background-focus;
          border: 0;
          outline: 0;
        }
      }
    }

    // Navbar collapse button
    .btn-navbar {
      .btn-states(darken(@navbar-main-inverse-link-bg-active, 5%), darken(@navbar-main-inverse-bg, 5%));
    }

  }

}



// Navbar
// --------------------------------------------------

@media screen and (min-width: 768px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .brand {
    float: left;
    padding-top: (@navbar-height - @line-height-base) / 2;
    padding-bottom: (@navbar-height - @line-height-base) / 2;
    margin-left: -15px;
  }
  .navbar .nav {
    float: left;
    margin-top: 0; // undo top margin to make nav extend full height of navbar
    .clear_float();

    &.pull-right {
      float: right;
    }
  }
  .navbar .nav > li {
    float: left;
  }

  // Dividers go vertical
  // Change the height and height, disable bottom border, then add right border
  .navbar .nav > .divider {
    width: 1px;
    height: @navbar-height * .6;
    margin: (@navbar-height * .2) 9px;
    border-bottom: 0;
    border-right: 1px solid lighten(@navbar-bg, 5%);
  }
  // Since we override the border, we need to specify it again for inverted navbars
  .navbar-inverse .nav > .divider {
    border-right-color: lighten(@navbar-inverse-bg, 5%);
  }

  // Required to make the collapsing navbar work on regular desktops
  .navbar .btn-navbar {
    display: none;
  }
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }

}

// Masthead
// --------------------------------------------------

@media screen and (min-width: 768px) {
  .navbar-masthead {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-masthead .brand {
    float: left;
    padding-top: (@navbar-masthead-height - @line-height-base) / 2;
    padding-bottom: (@navbar-masthead-height - @line-height-base) / 2;
    margin-left: -15px;
  }
  .navbar-masthead .nav {
    float: left;
    .navbar-vertical-align(36px, @navbar-masthead-height); // Vertically center in navbar
    .clear_float();

    &.pull-right {
      float: right;
    }
  }
  .navbar-masthead .nav > li {
    float: left;
  }

  // Dividers go vertical
  // Change the height and height, disable bottom border, then add right border
  .navbar-masthead .nav > .divider {
    width: 1px;
    height: @navbar-masthead-height * .6;
    margin: floor((@navbar-masthead-height * .1)) 9px;
    border-bottom: 0;
    border-right: 1px solid lighten(@navbar-masthead-bg, 5%);
  }
  // Plain text in topbar
  .navbar-masthead .navbar-text {
    .navbar-vertical-align(20px, @navbar-masthead-height); // Vertically center in navbar
  }

  // Since we override the border, we need to specify it again for inverted navbars
  .navbar-masthead-inverse .nav > .divider {
    border-right-color: lighten(@navbar-masthead-inverse-bg, 5%);
  }

  // Required to make the collapsing navbar work on regular desktops
  .navbar-masthead .btn-navbar {
    display: none;
  }
  // .nav-collapse.collapse {
  //   height: auto !important;
  //   overflow: visible !important;
  // }

}

// Main Navbar
// --------------------------------------------------

@media screen and (min-width: 768px) {
  .navbar-main {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-main .brand {
    float: left;
    padding-top: (@navbar-main-height - @line-height-base) / 2;
    padding-bottom: (@navbar-main-height - @line-height-base) / 2;
    margin-left: -15px;
  }
  .navbar-main .nav {
    float: left;
    .navbar-vertical-align(36px, @navbar-main-height); // Vertically center in navbar
    .clear_float();

    &.pull-right {
      float: right;
    }
  }
  .navbar-main .nav > li {
    float: left;
  }

  // Dividers go vertical
  // Change the height and height, disable bottom border, then add right border
  .navbar-main .nav > .divider {
    width: 1px;
    height: @navbar-main-height * .6;
    margin: floor((@navbar-main-height * .1)) 9px;
    border-bottom: 0;
    border-right: 1px solid lighten(@navbar-main-bg, 5%);
  }
  // Plain text in topbar
  .navbar-main .navbar-text {
    .navbar-vertical-align(20px, @navbar-main-height); // Vertically center in navbar
  }

  // Since we override the border, we need to specify it again for inverted navbars
  .navbar-main-inverse .nav > .divider {
    border-right-color: lighten(@navbar-main-inverse-bg, 5%);
  }

  // Required to make the collapsing navbar work on regular desktops
  .navbar-main .btn-navbar {
    display: none;
  }
  // .nav-collapse.collapse {
  //   height: auto !important;
  //   overflow: visible !important;
  // }

}

