//
// Popovers
// --------------------------------------------------


.popover {
  padding: 0;
  background-color: @popover-bg;
  border-radius: @border-radius-base;
  .box-shadow(0 2px 10px rgba(0,0,0,.2));
}

.popover-title {
  font-size: @font-size-base;
  background-color: @popover-title-bg;
  border-bottom: 1px solid darken(@popover-title-bg, 5%);
  border-radius: 0;
}
