//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}