//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-background;
}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  border-radius: 4px;
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 0;
  background-color: #fff;
  border: 3px solid #FFFFFF;
  .box-shadow(0 0 0 1px #AAAAAA);
}
// Add a hover state for linked versions only
a.img-polaroid:hover {
  border-color: #FFFFFF;
  .box-shadow(0 0 0 1px #dedede);
}
