//
// Thumbnails
// --------------------------------------------------


// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  padding: 0;
  border: 3px solid #ffffff;
  .border-radius(0);
  .box-shadow(0 0 0 1px #aaaaaa);
  .transition(none);
}
// Add a hover state for linked versions only
a.thumbnail:hover {
  border-color: #ffffff;
  .box-shadow(0 0 0 1px #dedede);
}

// Images and captions
.thumbnail .caption {
  padding: 9px 4px;
  color: #000000;
}
