//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  .img-thumbnail();
  display: block; // Override the inline-block from `.img-thumbnail`
  margin-bottom: @line-height-computed;

  > img {
    .img-responsive();
  }
}


// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: @thumbnail-border;
  .box-shadow(0 0 0 1px #dedede);
}

// Images and captions
.thumbnail .caption {
  padding: @thumbnail-caption-padding;
  color: @thumbnail-caption-color;
}
