//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  font-size: @font-size-mini;
  font-weight: bold;
  &.in     { .opacity(@tooltip-opacity); }
}

// Wrapper for the tooltip content
.tooltip-inner {
  background-color: @tooltip-bg;
  border-radius: 0;
}
