// Variables.less
// Variables to customize the look and feel of Bootstrap-Google
// ------------------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #4b8cf7;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------
@sansFontFamily:        Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          12px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;


// Buttons
// -------------------------
@btnBackground:                     #f3f3f3;
@btnPrimaryBackground:              #4b8cf7;
@btnInfoBackground:                 #5bc0de;
@btnSuccessBackground:              #35aa47;
@btnWarningBackground:              #FBB450;
@btnDangerBackground:               #d84a38;
@btnInverseBackground:              #2d2d2d;


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @grayDark;
@dropdownLinkBackgroundHover:   #eee;
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;
