//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------

@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;

// Accent colors
// -------------------------
@blue:                  #4b8cf7;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Brand colors
// -------------------------

@brand-primary:         #4b8cf7;
@brand-success:         #35aa47;
@brand-warning:         #faa937;
@brand-danger:          #d84a38;
@brand-info:            #5bc0de;


// Scaffolding
// -------------------------

@body-background:       #fff;
@text-color:            @grayDark;

// Links
// -------------------------

@link-color:            #15c;
@link-color-hover:      #15c;

// Typography
// -------------------------

@font-family-sans-serif:  Arial, Helvetica, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          13px;
@font-size-large:         @font-size-base * 1.25; // ~18px
@font-size-small:         @font-size-base * 0.85; // ~12px
@font-size-mini:          @font-size-base * 0.75; // ~11px

@line-height-base:        20px;

@headings-font-family:    inherit; // empty to use BS default, @font-family-base
@headings-font-weight:    bold;


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@padding-large:          11px 19px; // 44px
@padding-small:          2px 10px;  // 26px
@padding-mini:           1px 6px;   // 24px

/*@padding-large-input:     10px 14px; // 44px
// firefox hack since it doesn't accept custom line-height for inputs and automatically sets line-height as font-size + 4 px.
// input-large at 18 + 4 = 22, so I tried to compensate on padding.
*/

@border-radius-base:      2px;
@border-radius-large:     4px;
@border-radius-small:     1px;


// Tables
// -------------------------

@table-background:                   transparent; // overall background-color
@table-background-accent:            #f9f9f9; // for striping
@table-background-hover:             #ffffd6; // for hover

@table-border:                       #ddd; // table and cell border


// Buttons
// -------------------------

@btn-color:                          #333;
@btn-background:                     #f3f3f3;
@btn-border:                         #dcdcdc;

@btn-background-primary:             @brand-primary;
@btn-border-primary:                 #3079ed;

@btn-background-success:             @brand-success;
@btn-border-success:                 #359947;

@btn-background-warning:             @brand-warning;
@btn-border-warning:                 darken(@btn-background-warning, 3%);

@btn-background-danger:              @brand-danger;
@btn-border-danger:                  #c6322a;

@btn-background-info:                @brand-info;
@btn-border-info:                    darken(@btn-background-info, 5%);



// Forms
// -------------------------

@input-background:               #fff;
@input-background-disabled:      #f1f1f1;

@input-border:                   #d9d9d9;
@input-border-radius:            @border-radius-small;
@input-border-radius-search:     20px;

@input-color-placeholder:        @grayLight;

@input-height-base:              @line-height-base + 10px; // base line-height + 8px vertical padding + 2px top/bottom border
@input-height-large:             @line-height-base + 20px; // base line-height + 18px vertical padding + 2px top/bottom border
@input-height-small:             @line-height-base + 4px;  // base line-height + 2px vertical padding + 2px top/bottom border

// adjust min-height on input sizes


@form-actions-background:        #f5f5f5;


// Dropdowns
// -------------------------

@dropdown-background:            #fff;
@dropdown-border:                rgba(0,0,0,.2);
@dropdown-divider-top:           #ebebeb;
@dropdown-divider-bottom:        #fff;

@dropdown-link-color:            @grayDark;
@dropdown-link-color-hover:      @grayDark;
@dropdown-link-color-active:     @dropdown-link-color;

@dropdown-link-background-active:  @link-color;
@dropdown-link-background-hover:   @grayLighter;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

@zindex-dropdown:          1000;
@zindex-popover:           1010;
@zindex-tooltip:           1030;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;

@zindex-googlebar-fixed:   1029;
@zindex-googlenav-fixed:   1028;


// Glyphicons font path
// -------------------------
@glyphicons-font-path:          "../fonts";


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    30px; // 30px Google.com. 24px other Google sites
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            #fff;
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      @navbarBackground;

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            #fff;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     #fff;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Googlebar
// -------------------------
@navbarGoogleBarCollapseWidth:             979px;
@navbarGoogleBarCollapseDesktopWidth:      @navbarGoogleBarCollapseWidth + 1;

@navbarGoogleBarHeight:                    44px; // 75px for Google Developer. 44px for Google news. 48px for youtube
@navbarGoogleBarBackground:                #f1f1f1;
// @navbarGoogleBarBackgroundHighlight:       darken(@navbarGoogleBarBackground, 4.7%);
@navbarGoogleBarBackgroundHighlight:       lighten(@navbarGoogleBarBackground, 1.5%);
@navbarGoogleBarBorder:                    darken(@navbarGoogleBarBackground, 4.7%);

@navbarGoogleBarText:                      #777;
@navbarGoogleBarLinkColor:                 #777;
@navbarGoogleBarLinkColorHover:            @grayDark;
@navbarGoogleBarLinkColorActive:           @navbarGoogleBarLinkColorHover;
@navbarGoogleBarLinkBackgroundHover:       transparent;
@navbarGoogleBarLinkBackgroundActive:      @navbarGoogleBarBackground;

@navbarGoogleBarBrandColor:                @navbarGoogleBarLinkColor;

// Inverted Googlebar
@navbarGoogleBarInverseBackground:                #444;
@navbarGoogleBarInverseBackgroundHighlight:       @gray;
@navbarGoogleBarInverseBorder:                    @grayDark;

@navbarGoogleBarInverseText:                      @grayLight;
@navbarGoogleBarInverseLinkColor:                 #fff;
@navbarGoogleBarInverseLinkColorHover:            #fff;
@navbarGoogleBarInverseLinkColorActive:           @navbarGoogleNavInverseLinkColorHover;
@navbarGoogleBarInverseLinkBackgroundHover:       transparent;
@navbarGoogleBarInverseLinkBackgroundActive:      @navbarGoogleNavInverseBackground;

@navbarGoogleBarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarGoogleBarInverseSearchBackgroundFocus:     #fff;
@navbarGoogleBarInverseSearchBorder:              @navbarGoogleNavInverseBackground;
@navbarGoogleBarInverseSearchPlaceholderColor:    #ccc;

@navbarGoogleBarInverseBrandColor:                @navbarGoogleNavInverseLinkColor;

// Googlenav
// -------------------------
@navbarGoogleNavCollapseWidth:             979px;
@navbarGoogleNavCollapseDesktopWidth:      @navbarGoogleNavCollapseWidth + 1;

@navbarGoogleNavHeight:                    36px; // 37px for Google developer. 39px for Google.com. 42px for Google news
@navbarGoogleNavBackground:                #fff;
// @navbarGoogleNavBackground:                @navbarGoogleBarBackground;
// @navbarGoogleNavBackgroundHighlight:       #fafafa;
@navbarGoogleNavBackgroundHighlight:       darken(@navbarGoogleNavBackground, 5%);
@navbarGoogleNavBorder:                    darken(@navbarGoogleNavBackground, 15.5%); //#d7d7d7

@navbarGoogleNavText:                      #777;
@navbarGoogleNavLinkColor:                 #777;
@navbarGoogleNavLinkColorHover:            @grayDark;
@navbarGoogleNavLinkColorActive:           @navbarGoogleNavLinkColorHover;
@navbarGoogleNavLinkBackgroundHover:       transparent;
@navbarGoogleNavLinkBackgroundActive:      #f2f2f2;

@navbarGoogleNavBrandColor:                #dd4b39;

// Inverted Googlenav
@navbarGoogleNavInverseBackground:                #444;
@navbarGoogleNavInverseBackgroundHighlight:       @gray;
@navbarGoogleNavInverseBorder:                    @grayDark;

@navbarGoogleNavInverseText:                      @grayLight;
@navbarGoogleNavInverseLinkColor:                 #fff;
@navbarGoogleNavInverseLinkColorHover:            #fff;
@navbarGoogleNavInverseLinkColorActive:           @navbarGoogleNavInverseLinkColorHover;
@navbarGoogleNavInverseLinkBackgroundHover:       transparent;
@navbarGoogleNavInverseLinkBackgroundActive:      @navbarGoogleNavInverseBackground;

@navbarGoogleNavInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarGoogleNavInverseSearchBackgroundFocus:     #fff;
@navbarGoogleNavInverseSearchBorder:              @navbarGoogleNavInverseBackground;
@navbarGoogleNavInverseSearchPlaceholderColor:    #ccc;

@navbarGoogleNavInverseBrandColor:                @navbarGoogleNavInverseLinkColor;

// Pagination
// -------------------------
@paginationBackground:                @btn-background;
@paginationBorder:                    #dcdcdc;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #333; //#c09853;
@warningBackground:       #f9edbe;
@warningBorder:           #f0c36d;

@errorText:               #dd4b39;
@errorBackground:         #f2dede;
@errorBorder:             #dd4b39;

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(@successBackground, 20%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(@infoBackground, 20%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);


// Modals
// -------------------------

@modal-inner-padding:         20px;


// Progress bars
// -------------------------
@progress-bg:                 #f5f5f5;
@progress-bar-bg:             @brand-primary;
@progress-bar-success-bg:     @brand-success;
@progress-bar-warning-bg:     @brand-warning;
@progress-bar-danger-bg:      @brand-danger;
@progress-bar-info-bg:        @brand-info;


// Miscellaneous
// -------------------------

// Hr border color
// -------------------------
@hr-border:                   @grayLighter;

// Horizontal forms & lists
// -------------------------
@component-offset-horizontal: 180px;

// Wells
// -------------------------
@well-background:             #f1f1f1;



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
