// Variables.less
// Variables to customize the look and feel of Bootstrap-Google
// ------------------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #4b8cf7;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Typography
// -------------------------
@sansFontFamily:        Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          12px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;


// Buttons
// -------------------------
@btnBackground:                     #f3f3f3;
@btnPrimaryBackground:              #4b8cf7;
@btnInfoBackground:                 #5bc0de;
@btnSuccessBackground:              #35aa47;
@btnWarningBackground:              #FBB450;
@btnDangerBackground:               #d84a38;
@btnInverseBackground:              #2d2d2d;
