// Local docs variables
$bd-purple:        #366ad3 !default;
$bd-purple-bright: darken($bd-purple, 10%) !default;
$bd-purple-light:  $white !default;
$bd-dark:          #2a2730 !default;
$bd-download:      $white !default;
$bd-info:          #00bcd4 !default;
$bd-warning:       #fa7b17 !default;
$bd-danger:        #d93025 !default;
