<div class="container masthead-followup px-4 px-md-3">
  <section class="row mb-5 pb-md-4 align-items-center">
    <div class="col-md-5">
      <div class="masthead-followup-icon d-inline-block mb-2 text-white bg-success">
        {{ partial "icons/code.svg" (dict "width" "32" "height" "32") }}
      </div>
      <h2 class="display-5 font-weight-normal">Installation</h2>
      <p class="lead font-weight-normal">
        Install TODC Bootstrap’s source Sass and JavaScript files via npm, Composer, or Meteor.
      </p>
      <p>Package managed installs don’t include documentation or our full build scripts. You can also <a href="https://github.com/twbs/bootstrap-npm-starter">use our npm template repo</a> to quickly generate a Bootstrap project via npm.</p>
      <a class="btn btn-lg btn-outline-primary mb-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Read installation docs</a>
    </div>
    <div class="col-md-7 pl-md-5">
      {{ highlight "npm install todc-bootstrap" "sh" "" }}
    </div>
  </section>

  <section class="row mb-5 pb-md-4 align-items-center">
    <div class="col-md-5">
      <div class="masthead-followup-icon d-inline-block mb-2 text-white bd-bg-purple-bright">
        {{ partial "icons/circle-square.svg" (dict "width" "32" "height" "32") }}
      </div>
      <h2 class="display-5 font-weight-normal">Bootstrap Icons</h2>
      <p class="lead font-weight-normal">
        For the first time ever, Bootstrap has its own open source SVG icon library, designed to work best with our components and documentation.
      </p>
      <p>
        Bootstrap Icons are designed to work best with Bootstrap components, but they’ll work in any project. They’re SVGs, so they scale quickly and easily, can be implemented in several ways, and can be styled with CSS.
      </p>
      <a href="{{ .Site.Params.icons }}" class="btn btn-lg btn-outline-primary mb-3">Get Bootstrap Icons</a>
    </div>
    <div class="col-md-7 pl-md-5">
        <img class="img-fluid mt-3 mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-icons.png,
                                                    /docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-icons@2x.png 2x"
                                               src="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-icons.png"
                                               alt="Bootstrap Icons" width="700" height="425" loading="lazy">
    </div>
  </section>
</div>
