<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ page.base_url }}assets/js/jquery.js"></script>
<script src="{{ page.base_url }}dist/js/bootstrap.js"></script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ page.base_url }}assets/js/holder.js"></script>

<script src="{{ site.base_url }}assets/js/select2.min.js"></script>
<script src="{{ site.base_url }}assets/js/application.js"></script>
