<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
  {% if page.title == "TODC Bootstrap" %}
    {{ page.title }}
  {% else if %}
    {{ page.title }} &middot; TODC Bootstrap
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/dist/css/bootstrap.css" rel="stylesheet">

{% if page.layout != "example" %}
<!-- Documentation extras -->
<link href="{{ site.baseurl }}/assets/css/docs.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/pygments-manni.css" rel="stylesheet">
{% endif %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <script src="/assets/js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-57-precomposed.png">
                               <link rel="shortcut icon" href="{{ site.baseurl }}/assets/ico/favicon.png">

<link href="{{ site.baseurl }}/dist/css/todc-bootstrap.css" rel="stylesheet"></head>
<link href="{{ site.baseurl }}/assets/css/select2.css" rel="stylesheet">
