// Local docs variables
$bd-purple:          #3367d6;
$bd-purple-bright:   darken($bd-purple, 10%);
$bd-purple-light:    #fff;
$bd-purple-lightest: #f5f2f9;
$bd-graphite:        #2a2730;
$bd-graphite-light:  lighten($bd-graphite, 40%);
$bd-yellow:          #fff;
$bd-danger:          #f44336;
$bd-warning:         #ffeb3b;
$bd-info:            #00bcd4;
