// Local docs variables
$bd-purple:        #366ad3 !default;
$bd-purple-bright: darken($bd-purple, 10%) !default;
$bd-purple-light:  $white !default;
$bd-dark:          #2a2730 !default;
$bd-download:      $white !default;
$bd-info:          #00bcd4 !default;
$bd-warning:       #fa7b17 !default;
$bd-danger:        #d93025 !default;

// Enable responsive font sizes for font sizes defined in the docs
// The weird if test is made as a workaround to prevent a false fusv error.
//
// stylelint-disable-next-line scss/dollar-variable-default
$enable-responsive-font-sizes: if($enable-responsive-font-sizes, true, true);
