<div class="bs-docs-section">
  <h1 id="list-group" class="page-header">List group</h1>

  <p class="lead">List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.</p>

  <div class="bs-callout bs-callout-info">
    <h4>Alternate styling</h4>
    <p>The list group item will be styled differently if you use <code>li.list-group-item</code>. This is best illustrated in the <a href="#list-group-basic">Basic list group</a>/<a href="#list-group-basic-alternate">Basic list group alternate</a> and the <a href="#list-group-linked">Linked list group</a>/<a href="#list-group-linked-alternate">Linked list group using list items</a> examples.</p>
  </div>

  <h2 id="list-group-basic">Basic example</h2>
  <p>The most basic list group is simply an unordered list with list items, and the proper classes. Build upon it with the options that follow, or your own CSS as needed.</p>
  <div class="bs-example" data-example-id="simple-list-group">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
{% endhighlight %}

  <h3 id="list-group-basic-alternate">Basic list group alternate</h3>
  <p>This style matches the default Linked list group.</p>
  <div class="bs-example" data-example-id="list-group-alternate">
    <div class="list-group">
      <p class="list-group-item">Cras justo odio</p>
      <p class="list-group-item">Dapibus ac facilisis in</p>
      <p class="list-group-item">Morbi leo risus</p>
      <p class="list-group-item">Porta ac consectetur ac</p>
      <p class="list-group-item">Vestibulum at eros</p>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <p class="list-group-item">Cras justo odio</p>
  <p class="list-group-item">Dapibus ac facilisis in</p>
  <p class="list-group-item">Morbi leo risus</p>
  <p class="list-group-item">Porta ac consectetur ac</p>
  <p class="list-group-item">Vestibulum at eros</p>
</div>
{% endhighlight %}

  <h2 id="list-group-badges">Badges</h2>
  <p>Add the badges component to any list group item and it will automatically be positioned on the right.</p>
  <div class="bs-example" data-example-id="list-group-badges">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">2</span>
        Dapibus ac facilisis in
      </li>
      <li class="list-group-item">
        <span class="badge">1</span>
        Morbi leo risus
      </li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>
{% endhighlight %}

  <h2 id="list-group-linked">Linked items</h2>
  <p>Linkify list group items by using anchor tags instead of list items (that also means a parent <code>&lt;div&gt;</code> instead of an <code>&lt;ul&gt;</code>). No need for individual parents around each element.</p>
  <div class="bs-example" data-example-id="list-group-anchors">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h3 id="list-group-linked-alternate">Linked list group using list items</h3>
  <p>Linkify list group items by using list items instead of anchor tags.</p>

  <div class="bs-callout bs-callout-danger">
    <h4>Plugin dependency</h4>
    <p>The list group collapsible menu requires the <a href="../javascript/#collapse">collapse plugin</a> to be included in your version of Bootstrap.</p>
  </div>

  <div class="bs-callout bs-callout-warning">
    <h4>Make list group collapsible menus accessible</h4>
    <p>Be sure to add a <code>role="menu"</code> to every <code>list-group-item-menu</code> and <code>dropdown-menu</code> to help with accessibility.</p>
  </div>

  <div class="bs-example" data-example-id="list-group-linked-alternate">
    <ul class="list-group">
      <li class="list-group-header">List header</li>
      <li class="list-group-item active"><a href="#">Home</a></li>
      <li class="list-group-item"><a href="#">Library</a></li>
      <li class="list-group-item"><a href="#">Applications</a></li>
      <li class="list-group-header">Another list header</li>
      <li class="list-group-item">
        <span class="collapse-caret collapsed dropdown-toggle" data-toggle="collapse" data-target="#profile"></span>
        <div class="list-group-item-wrapper">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <a href="#">Profile</a>
        </div>

        <div id="profile" class="collapse">
          <ul role="menu" class="list-group-item-menu">
            <li class="list-group-item">
              <div class="list-group-item-wrapper">
                <div class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>

                <a href="#">Action</a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">
        <span class="collapse-caret collapsed dropdown-toggle" data-toggle="collapse" data-target="#settings"></span>
        <div class="list-group-item-wrapper">
          <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <a href="#">
            Settings
          </a>
        </div>

        <div id="settings" class="collapse">
          <ul role="menu" class="list-group-item-menu">
            <li class="list-group-item">
              <div class="list-group-item-wrapper">
                <div class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>

                <a href="#">Action</a>
              </div>
            </li>
            <li role="separator" class="divider"></li>
            <li class="list-group-item">
              <span class="dropdown-toggle collapse-caret collapsed" data-toggle="collapse" data-target="#sub-settings"></span>
              <div class="list-group-item-wrapper">
                <div class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>

                <a href="#">
                  Separated link
                </a>
              </div>

              <div class="collapse" id="sub-settings">
                <ul role="menu" class="list-group-item-menu">
                  <li class="list-group-item">
                    <div class="list-group-item-wrapper">
                      <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>

                      <a href="#">Action 1</a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li role="separator" class="divider"></li>
      <li class="list-group-item"><a href="#">Help</a></li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-header">List header</li>
  <li class="list-group-item active"><a href="#">Home</a></li>
  <li class="list-group-item"><a href="#">Library</a></li>
  <li class="list-group-item"><a href="#">Applications</a></li>
  <li class="list-group-header">Another list header</li>
  <li class="list-group-item">
    <span class="collapse-caret collapsed dropdown-toggle" data-toggle="collapse" data-target="#profile"></span>
    <div class="list-group-item-wrapper">
      <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <a href="#">Profile</a>
    </div>

    <div id="profile" class="collapse">
      <ul role="menu" class="list-group-item-menu">
        <li class="list-group-item">
          <div class="list-group-item-wrapper">
            <div class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <a href="#">Action</a>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="list-group-item">
    <span class="collapse-caret collapsed dropdown-toggle" data-toggle="collapse" data-target="#settings"></span>
    <div class="list-group-item-wrapper">
      <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <a href="#">
        Settings
      </a>
    </div>

    <div id="settings" class="collapse">
      <ul role="menu" class="list-group-item-menu">
        <li class="list-group-item">
          <div class="list-group-item-wrapper">
            <div class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <a href="#">Action</a>
          </div>
        </li>
        <li role="separator" class="divider"></li>
        <li class="list-group-item">
          <span class="dropdown-toggle collapse-caret collapsed" data-toggle="collapse" data-target="#sub-settings"></span>
          <div class="list-group-item-wrapper">
            <div class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <a href="#">
              Separated link
            </a>
          </div>

          <div class="collapse" id="sub-settings">
            <ul role="menu" class="list-group-item-menu">
              <li class="list-group-item">
                <div class="list-group-item-wrapper">
                  <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <a href="#">Action 1</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li role="separator" class="divider"></li>
  <li class="list-group-item"><a href="#">Help</a></li>
</ul>
{% endhighlight %}

  <h2 id="list-group-buttons">Button items</h2>
  <p>List group items may be buttons instead of list items (that also means a parent <code>&lt;div&gt;</code> instead of an <code>&lt;ul&gt;</code>). No need for individual parents around each element. <strong class="text-danger">Don't use the standard <code>.btn</code> classes here.</strong></p>
  <div class="bs-example" data-example-id="list-group-btns">
    <div class="list-group">
      <button type="button" class="list-group-item">Cras justo odio</button>
      <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
      <button type="button" class="list-group-item">Morbi leo risus</button>
      <button type="button" class="list-group-item">Porta ac consectetur ac</button>
      <button type="button" class="list-group-item">Vestibulum at eros</button>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <button type="button" class="list-group-item">Cras justo odio</button>
  <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
  <button type="button" class="list-group-item">Morbi leo risus</button>
  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item">Vestibulum at eros</button>
</div>
{% endhighlight %}

  <h2 id="list-group-disabled">Disabled items</h2>
  <p>Add <code>.disabled</code> to a <code>.list-group-item</code> to gray it out to appear disabled.</p>
  <div class="bs-example" data-example-id="list-group-disabled">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h2 id="list-group-contextual-classes">Contextual classes</h2>
  <p>Use contextual classes to style list items, default or linked. Also includes <code>.active</code> state.</p>
  <div class="bs-example" data-example-id="list-group-variants">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
          <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
          <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
          <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
          <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
  <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
</ul>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h2 id="list-group-custom-content">Custom content</h2>
  <p>Add nearly any HTML within, even for linked list groups like the one below.</p>
  <div class="bs-example" data-example-id="list-group-custom-content">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>
{% endhighlight %}
</div>
